/* ## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors
- White: hsl(0, 0%, 100%)
- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)
- Brown 800: hsl(14, 45%, 36%)
- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%)

## Typography

### Body Copy
- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: var(--font-weight-400);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-White: hsl(0, 0%, 100%);
  --color-Stone-100: hsl(30, 54%, 90%);
  --color-Stone-150: hsl(30, 18%, 87%);
  --color-Stone-600: hsl(30, 10%, 34%);
  --color-Stone-900: hsl(24, 5%, 18%);
  --color-Brown-800: hsl(14, 45%, 36%);
  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);

  --font-size: 16px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

footer {
  color: (--color-White);
  position: relative;
  padding-bottom: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
