/* ## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors
- White: hsl(0, 0%, 100%)
- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)
- Brown 800: hsl(14, 45%, 36%)
- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%)

## Typography

### Body Copy
- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: var(--font-weight-400);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-White: hsl(0, 0%, 100%);
  --color-Stone-100: hsl(30, 54%, 90%);
  --color-Stone-150: hsl(30, 18%, 87%);
  --color-Stone-600: hsl(30, 10%, 34%);
  --color-Stone-900: hsl(24, 5%, 18%);
  --color-Brown-800: hsl(14, 45%, 36%);
  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);

  --font-size: 16px;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-Stone-100);
}

main {
  background-color: var(--color-White);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 730px;
  /* height: auto; */
  padding: 3rem;
  margin: auto;
  /* align-items: flex-start;  */
}
img {
  height: 300px;
  width: 650px;
  border-radius: 1rem;
}
h1 {
  font-family: "Young Serif", Arial, Helvetica, sans-serif;
  color: var(--color-Stone-900);
  font-weight: var(--font-weight-600);
  text-align: left;
  width: 100%;
  margin: 1rem 0;
}
h3 {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-600);
  color: var(--color-Stone-900);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
span {
  font-weight: var(--font-weight-700);
}
p {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-400);
  color: var(--color-Stone-600);
}
ul {
  list-style-position: inside;
  padding-left: 1rem;
  margin: 0;
}
li {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-400);
  color: var(--color-Stone-600);
  margin-bottom: 0.25rem;
}

footer {
  color: (--color-White);
  position: relative;
  padding-bottom: 5px;
}

section.preparation-time {
  background-color: var(--color-Rose-50);
  border-radius: 1rem;
  height: 175px;
  width: 100%;
  /* margin: 3rem; */
  padding-left: 2rem;
  margin-top: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
